<h1>Welcome to the ACLTC Zoo</h1>

<%= link_to "Tasmanian Devil", tasmanian_devil_path %>
<%= link_to "Lion", lion_path %>
<%= link_to "Hippogriff", hippogriff_path %>
<%= link_to "Parakeet", parakeet_path %>
<%= link_to "Macaw", macaw_path %>
<%= link_to "Parrot", parrot_path %>


  
