<h1>Welcome to the ACLTC Zoo</h1>
<%= link_to "Lion", lion_path %>
<br>
<%= link_to "Ostrich", ostrich_path %>
<br>
<%= link_to "Tasmanian Devil", tasmanian_devil_path %>
<br>
<%= link_to "Hippogriff", hippogriff_path %>
<br>
<%= link_to "Parakeet", parakeet_path %>
<br>
<%= link_to "Macaw", macaw_path %>
<br>
<%= link_to "Parrot", parrot_path %>


  